<div class="container">
    <div class="card">
      <div class="card-header">
          Plan Personal de 30 Mbps
      </div>
      <div class="card-body">
      <h5>Descripción</h5>
        <p class="card-text">El plan hogar de 30Mbps contiene la velocidad necesaria para nuestros clientes, </p>
        <p class="card-text">cuenta con un router de hasta 10 salidas por cable e incluye WIFI.</p>
      <h5>Distritos de alcance</h5>
        <p class="card-text">San Sebastian</p>
        <p class="card-text">San Jeronimo</p>
        <p class="card-text">Wanchaq</p>
      <h5>Fecha Creacion</h5>
      <p class="card-text">21/01/2019</p>
      <h5>Fecha Expiracion</h5>
      <p class="card-text">21/01/2022</p>
  
  
        <a href="#" class="btn btn-primary">Volver</a>
      </div>
</div>


<div class="container">
    <div class="card">
      <div class="card-header">
          Plan Personal de 20 Mbps
      </div>
      <div class="card-body">
      <h5>Descripción</h5>
        <p class="card-text">El plan hogar de 20Mbps contiene la velocidad necesaria para nuestros clientes,</p>
        <p class="card-text">cuenta con un router de hasta 7 salidas por cable e incluye WIFI.</p>
      <h5>Distritos de alcance</h5>
        <p class="card-text">San Sebastian</p>
        <p class="card-text">San Jeronimo</p>
        <p class="card-text">Wanchaq</p>
      <h5>Fecha Creacion</h5>
      <p class="card-text">20/05/2020</p>
      <h5>Fecha Expiracion</h5>
      <p class="card-text">20/05/2023</p>
  
  
        <a href="#" class="btn btn-primary">Volver</a>
      </div>
</div>


<div class="container">
    <div class="card">
          <div class="card-header">
              Plan Personal de 10 Mbps
          </div>
          <div class="card-body">
          <h5>Descripción</h5>
            <p class="card-text">El plan hogar de 10Mbps contiene la velocidad necesaria para nuestros clientes, </p>
            <p class="card-text">cuenta con un router de hasta 5 salidas por cable e incluye WIFI.</p>
          <h5>Distritos de alcance</h5>
            <p class="card-text">San Sebastian</p>
            <p class="card-text">San Jeronimo</p>
            <p class="card-text">Wanchaq</p>
          <h5>Fecha Creacion</h5>
          <p class="card-text">21/01/2018</p>
          <h5>Fecha Expiracion</h5>
          <p class="card-text">21/01/2025</p>
      
            <a href="#" class="btn btn-primary">Volver</a>
    </div>
</div>