<h2>Mis Tickets</h2>
    
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
            <table id="example" class="table table-bordered  display nowrap" cellspacing="0" width="100%">
              <thead>
                  <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>N° Ticket</th>
                    <th>Asunto</th>
                    <th>Estado</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                        <div class="d-grid gap-2">
                          <button type="button" class="btn btn-primary btn-lg"></button>
                        </div>
                      </td>
                      <td>Samuel Fernandez</td>
                      <td>samu@gamil.com</td>
                      <td>01</td>
                      <td>Peticion de servicio</td>
                      <td></td>
                  </tr>
              </tbody>
            </table>  
         
          </div>
       </div> 
    </div>
