<div>
    
      <div class="container w-25">
        <div class="row">
          <div class="col-md-12 col-md-offset-3">
            <div class="text-center">
              <h2>Usuarios</h2>
            </div>
            <hr>
          </div>
        </div>
      </div> 
  <br>
  <div class="container">
    <div class="row">
        
      <div class="col-4 col-sm-4"><img src="img/empleado.png" class="w-20 mx-lg-auto d-block" alt="" height="90" width="90"></div>
      <div class="col-4 col-sm-4"><img src="img/cliente.png" class="w-30 mx-lg-auto d-block" alt="" height="90" width="90"></div>

      <div class="w-100 d-none d-md-block"></div>
      <br>
      <div class="col-4 col-sm-4"><h4>Empleado</h4></div>
      <div class="col-4 col-sm-4"><h4>cliente</h4></div>

      <div class="w-100 d-none d-md-block"></div>
      <div class="col-4 col-sm-4"><button type="button" class="btn btn-primary">ver</button></div>
      <div class="col-4 col-sm-4"><button type="button" class="btn btn-primary">ver</button></div>
      
    </div>
</div>