
<app-usuario-header></app-usuario-header>  
<div class="container">
    <div class="row">
      <div class="col">
         <br><br>
         <h1 class="display-5"><strong><em>QUIENES SOMOS NOSOTROS</em></strong></h1>
       <br><br>
       <img src="../../../assets/images/usuario/nosotros/hombre.jpg" alt="" width="500" height="300">
       <br><br>
       <br>
       <p class="text-justify"></p>
       <p>El Grupo Inpecable  está conformado por empresas competitivas y rentables, dedicadas al sector de Telecomunicaciones, en los cuales son líderes gracias al empuje y visión con las que son dirigidas. Las empresas del grupo tienen confianza y están comprometidas con el desarrollo del país, contribuyendo al progreso de las comunidades en las que están insertas: son fuentes de trabajo, innovación y oportunidades.<p>
      </div>
      <div class="col">
          <br><br><br><br><br>
       <br>
       <p class="text-justify"> Somos un grupo empresarial peruano con tradición, líder en las Telecomunicaciones. Nos manejamos con altos estándares de gestión y producción, para competir internacionalmente. Nuestra profesionalización ha permitido que seamos reconocidos como uno de los grupos de telecomunicacion más importantes y sólidos del Perú.<p>
       <br><br>
       <img src="../../../assets/images/usuario/nosotros/servidor.png" alt="..." width="600px" height="400px">

      </div>
    </div>
