<app-usuario-cliente-logeado-header></app-usuario-cliente-logeado-header>

<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h2>Adquiere nuestros planes de Internet</h2>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      
        <div class="bordes col-md-4">
          <div>
            <h3><b>Plan Hogar 10Mbps</b></h3>
            <div class="icon">
              <i class="ic bi bi-wifi"></i>
            </div>
            <p>
              <h5><b>Descripción</b></h5><br>
              El plan hogar de 10Mbps contiene la velocidad necesaria para nuestros clientes, cuenta con un router de hasta 5 salidas por cable e incluye WIFI.<br>
              <h4></h4><br>
              <h5><b>Costo</b></h5><h1><b>S/50</b></h1>Mensuales<br>
              <br><h5><b>¿Que incluye?</b></h5><br>
              Velocidad de descarga ilimitada 10Mbps<br>
              Velocidad máxima de subida 5Mbps<br>
              Router con Wi-Fi 2.4 GHz
            
          </div>
        </div>

        <div class="bordes col-md-4">
          <div>
            <h3><b>Plan Hogar 20Mbps</b></h3>
            <div class="icon">
              <i class="ic bi bi-wifi"></i>
            </div>
            <p>
              <h5><b>Descripción</b></h5><br>
              El plan hogar de 20Mbps contiene la velocidad necesaria para nuestros clientes, cuenta con un router de hasta 7 salidas por cable e incluye WIFI.<br>
              <h4></h4><br>
              <h5><b>Costo</b></h5><h1><b>S/90</b></h1>Mensuales<br>
              <br><h5><b>¿Que incluye?</b></h5><br>
              Velocidad de descarga ilimitada 20Mbps<br>
              Velocidad máxima de subida 10Mbps<br>
              Router con Wi-Fi 2.4 GHz y 5 GHz
          
          </div>
        </div>
        <div class="bordes col-md-4">
          <div>
            <h3><b>Plan Hogar 30Mbps</b></h3>
            <div class="icon">
              <i class="ic bi bi-wifi"></i>
            </div>
            <p>
              <h5><b>Descripción</b></h5><br>
              El plan hogar de 30Mbps contiene la velocidad necesaria para nuestros clientes, cuenta con un router de hasta 10 salidas por cable e incluye WIFI.<br>
              <h4></h4><br>
              <h5><b>Costo</b></h5><h1><b>S/150</b></h1>Mensuales<br>
              <br><h5><b>¿Que incluye?</b></h5><br>
              Velocidad de descarga ilimitada 30Mbps<br>
              Velocidad máxima de subida 15Mbps<br>
              Router con Wi-Fi 2.4 GHz y 5 GHz
         
          </div>
        </div>
      
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
          <h2>Nos pondremos en contacto contigo</h2>
        </div>
        <hr>
      </div>
    </div>
  </div>

  <div class="container ">
    <form class="m-4-5">
      <div class="form-group">
        <label for="username">Nombre:</label>
        <input type="text" class="form-control" id="username" placeholder="Ingresa tus nombres completos" name="username">
      </div>
      <div class="form-group">
        <label for="password">DNI:</label>
        <input type="text" class="form-control" id="password" placeholder="Ingresa tu DNI" name="password">
      </div>
      <div class="form-group">
        <label for="password">Nro. Celular:</label>
        <input type="text" class="form-control" id="password" placeholder="Ingresa tu DNI" name="password">
      </div>
      <div class="form-group">
        <label for="password">Area:</label>
        <select class="form-control" id="cars" name="cars">
          <option value="1">San Sebastian</option>
          <option value="2">San Jeronimo</option>
          <option value="3">Wanchaq</option>
          <option value="4">Cusco Centro</option>
        </select>
      </div>
      <button class="btn btn-primary btn-lg">Enviar Información</button>
    </form>
    <br>
  </div>