<app-usuario-header></app-usuario-header>  
<!--Tarjetas-->
<div class="tarjeta">
  <style>
      .titulosupremo{
          color: red;
      }
      .titulo1{
          color: cornflowerblue;
      }
      .titulo2{
          color: blue;
      }
      .titulo3{
          color: purple;
      }
  </style>
  <div class="container-md p-5">
    <div class="row pt-5">
      <h1 class="titulosupremo pb-5 pt-5 font-monospace">Planes de Internet</h1>
  </div>

  <div class="row">
      <div class="col-sm">
          <div class="card w-100 card-border mb-5">
              <div class="imagen"><img src="../../../assets/images/usuario/planes/1.JPG" class="card-img-top" alt="..."></div>
              <div class="card-body">
                <b><h5 class="titulo1">Plan Personal</h5></b>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo1.png" width="300" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo2.png" width="350" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo3.png" width="150" height="65" alt=""></div></div>
                <h4>-------------------------------------</h4>
                <img src="../../../assets/images/usuario/planes/precioso1.png" alt="">
                <div class="d-grid gap-2 d-mx-auto">
                  <button class="btn btn-primary" type="button">Adquirir</button>
                </div>
              </div>
          </div>
      </div>
      
      <div class="col-sm">
          <div class="card w-100 card-border mb-5">
              <div class="imagen"><img src="../../../assets/images/usuario/planes/2.JPG" class="card-img-top" alt="..."></div>
              <div class="card-body">
                <b><h5 class="titulo2">Plan Personal</h5></b>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo1.png" width="300" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo2.png" width="350" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo3.png" width="150" height="65" alt=""></div></div>
                <h4>-------------------------------------</h4>
                <img src="../../../assets/images/usuario/planes/precioso2.png" alt="">
                <div class="d-grid gap-2 d-mx-auto">
                  <button class="btn btn-primary" type="button">Adquirir</button>
                </div>
              </div>
          </div>
      </div>

      <div class="col-sm">
          <div class="card w-100 card-border mb-5">
              <div class="imagen"><img src="../../../assets/images/usuario/planes/2.JPG" class="card-img-top" alt="..."></div>
              <div class="card-body">
                <b><h5 class="titulo3">Plan Personal</h5></b>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo1.png" width="300" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo2.png" width="350" height="35" alt=""></div></div>
                <div class="row"><div class="col"><img src="../../../assets/images/usuario/planes/quetrucazo3.png" width="150" height="65" alt=""></div></div>
                <h4>-------------------------------------</h4>
                <img src="../../../assets/images/usuario/planes/precioso3.png"alt="">
                <div class="d-grid gap-2 d-mx-auto">
                  <button class="btn btn-primary" type="button">Adquirir</button>
                </div>
              </div>
          </div>
      </div>
  </div>    
</div>