<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Nuevo Empleado</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content position-relative mt-3 mx-5">
        <div class="nav justify-content-end">
          <button
            class="btn btn-outline-secondary"
            routerLink="/inicioAdmin/id/empleados"
          >
            <i class="fas fa-arrow-circle-left"> Volver</i>
          </button>
        </div>
  
        <br />
        <br />
        <form class="fs-6">
          <div class="form-outline mb-4">
            <input type="text" id="nombre"  class="form-control" #nombre />
            <label class="form-label" for="nombre">Nombre</label>
          </div>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="apePaterno"
                  class="form-control"
                  #apePaterno
                />
                <label class="form-label" for="apePaterno"
                  >Apellido Paterno</label
                >
              </div>
            </div>
  
            <div class="col">
              <div class="form-outline">
                <input
                  type="text"
                  id="apeMaterno"
                  class="form-control"
                  #apeMaterno
                />
                <label class="form-label" for="apeMaterno"
                  >Apellido Materno</label
                >
              </div>
            </div>
          </div>
  
          <!-- Sexo input-->
          <div class="input-group mb-3">
            <select class="form-select" id="sexo" #sexo>
              <option disabled selected>Sexo</option>
              <option id="sexo" value="M">Masculino</option>
              <option id="sexo" value="F">Femenino</option>
              <option id="sexo" value="O">Otro</option>
            </select>
            <label class="input-group-text" for="sexo">Seleccione</label>
          </div>
          <br />

          <!-- Area input-->
          <div class="input-group mb-3">
            <select class="form-select" id="area" placeholder="Area" #area>
              <option disabled selected >Seleccione el Area</option>
              <option id="area" value="Administrativa">Administrativa</option>
              <option id="area" value="Tecnica">Tecnica</option>
              <option id="area" value="Atencion al Cliente">Atencion al Cliente</option>
            </select>
            <label class="input-group-text" for="area">Seleccione</label>
          </div>
          <br />
  
          <!-- Tipo de Documento de identificacion -->
          <div class="input-group mb-3">
            <select class="form-select" id="tipDocIdentificacion" #tipDocIdentificacion>
              <option disabled selected>Tipo de Documento de identificacion</option>
              <option id="tipDocIdentificacion" value="DNI">DNI</option>
              <option disabled id="tipDocIdentificacion" value="null">Proximamente...</option>
            </select>
            <label class="input-group-text" for="tipDocIdentificacion"
              >Seleccione</label
            >
          </div>
          <br />
  
          <!-- DNI input -->
          <div class="form-outline mb-4">
            <input type="text" id="dni" class="form-control" #dni />
            <label class="form-label" for="dni">DNI</label>
          </div>
  
          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text" id="email" class="form-control" #email/>
            <label class="form-label" for="email">Email</label>
          </div>
  
          <!-- Number input -->
          <div class="form-outline mb-4">
            <input type="text" id="numTelefono" class="form-control" #numTelefono/>
            <label class="form-label" for="numTelefono"
              >Numero de Telefono</label
            >
          </div>
  
          <!-- Nacionalidad input -->
          <div class="form-outline mb-4">
            <input type="text" id="nacionalidad" class="form-control" #nacionalidad/>
            <label class="form-label" for="nacionalidad">Nacionalidad</label>
          </div>
  
          <!-- Direccion input -->
          <div class="form-outline mb-4">
            <input type="text" id="direccion" class="form-control" #direccion/>
            <label class="form-label" for="direccion">Direccion</label>
          </div>
  
          <!-- Usuario input -->
          <div class="form-outline mb-4">
            <input type="text" id="nomUsuario" class="form-control" #nomUsuario/>
            <label class="form-label" for="nomUsuario"
              >Nombre de Usuario</label
            >
          </div>
  
          <!-- Contraseña input -->
          <div class="form-outline mb-4">
            <input type="text" id="contrasenia" class="form-control" #contrasenia/>
            <label class="form-label" for="contrasenia">Contraseña</label>
          </div>
  
          <!-- Submit button -->
          <a href="/inicioAdmin/id/empleados" class="btn btn-primary btn-lg mb-4" tabindex="-1" role="button" (click)="crearEmpleado(dni.value, apePaterno.value, apeMaterno.value, sexo.value, tipDocIdentificacion.value, email.value, numTelefono.value, nacionalidad.value, direccion.value, nomUsuario.value, nombre.value, contrasenia.value, area.value)"> Registrar</a>
    
        </form>
      </div>
    </div>
  </div>
  
