<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Empleados</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content position-relative mt-3 mx-5">
      <div class="nav justify-content-end ">
          <button class="btn btn-outline-secondary" routerLink="/inicioAdmin/id/agregarEmpleado">
            <i class="far fa-plus-square"> Agregar Nuevo Empleado</i>
          </button>
      </div>

      <br />
      <br />
      <table class="table table-hover fs-6">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Nacionalidad</th>
            <th scope="col">Nombre Usuario</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of lista">
            <td>{{ empleado.id }}</td>
            <td>
              {{
                empleado.nombre +
                  " " +
                  empleado.apePaterno +
                  " " +
                  empleado.apeMaterno
              }}
            </td>
            <td>{{ empleado.nacionalidad }}</td>
            <td>{{ empleado.nomUsuario }}</td>
            <td>{{ empleado.contrasenia }}</td>
            <td>
              <a [routerLink]="['/inicioAdmin/id/visualizarEmpleado',empleado.id]"><button class="btn btn-outline-primary">
                <i class="far fa-eye"></i> Ver
              </button></a>
            </td>
            <td>
              <a [routerLink]="['/inicioAdmin/id/editarEmpleado',empleado.id]"><button class="btn btn-outline-warning" >
                <i class="far fa-edit"></i> Editar
              </button></a>
            </td>
            <td>
              <a href="/inicioAdmin/id/empleados"><button  (click)="eliminarEmpleado(empleado.id)" class="btn btn-outline-danger">
                <i class="far fa-trash-alt"></i> Eliminar
              </button>
            </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
