<div class="container">
    <div class="row">
      <div class="col">
         <br><br>
         <h1 class="display-5"><strong><em>Cliente</em></strong></h1>
         <br>
       <h2>Información</h2>
       <br>
       <p><strong>Nombre Usuario</strong></p>        
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="FFFFFF">
        </div> <br>
        <P><strong>Contraseña</strong></P>
        <div class="col-sm-10">
          <input type="password" readonly class="form-control-plaintext" id="statictext" value="*********">
        </div> <br>
        <p><strong>Nombre</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="Cinthya">
        </div> <br>
        <p><strong>Apellido Paterno</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="Villa">
        </div> <br>
        <p><strong>Apellido Materno</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="Aguirre">
        </div> <br>
        <p><strong>DNI</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="95478625">
        </div> <br>
        <p><strong>Sexo</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="Femenino">
        </div> <br>
        <p><strong>Numero de telefono</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="985159687">
        </div> <br>
        <p><strong>Email</strong></p>
        <div class="col-sm-10">
          <input type="email" readonly class="form-control-plaintext" id="statictext" value="Cvilla@gmail.com">
        </div> <br>
        <p><strong>Direccion</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="Su casa">
        </div> <br>
        <p><strong>Codigo Contrato</strong></p>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="statictext" value="159753456">
        </div> <br>



       <br><br>
      </div>
      <div class="col">
          <br><br><br><br><br><br>
       <h2>Añadir nuevo cliente</h2>
       <br>
       <p>Nombre de Usuario</p>
       <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Insertar Usuario">
      </div>
      <p>Contraseña</p>
      <div class="mb-3">
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su contraseña">
      </div>
      <p>Nombre</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>Apellido Paterno</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>Apellido Materno</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>DNI</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>Sexo</p>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
            <option value="Masculino">
            <option value="Femenino">
        </datalist>
        <br>
      <p>Numero de telefono</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>Email</p>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <p>Direccion</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <p>codigo Contrato</p>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="...">
      </div>
      <div class="col-4 col-sm-4"><button type="button" class="btn btn-primary">Añadir</button></div>



 
       <br><br>
      </div>
    </div>
</div>