<div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-3">
        <div class="text-center">
          <h2>Planes</h2>
        </div>
        <hr>
      </div>
    </div>
  </div> 
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Mas info</th>
        <th scope="col">ID Plan</th>
        <th scope="col">Plan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><button type="button" class="btn btn-secondary">Ver Mas</button></th>
        <td>789165321</td>
        <td>plan 10 Mpbs</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn btn-secondary">Ver Mas</button></th>
        <td>745968135</td>
        <td>plan 20 Mpbs</td>
      </tr>
      <tr>
        <th scope="row"><button type="button" class="btn btn-secondary">Ver Mas</button></th>
        <td>231465487</td>
        <td>plan 30 Mbps</td>
      </tr>
    </tbody>
  </table>
</div>
