
<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/usuario/intInicio/inpecable.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APLICACIONES :D</h2>

  <a mat-list-item routerLink="/inicioAdmin/id/adminProfile"
  routerLinkActive="active">
    <mat-icon>home</mat-icon> Inicio
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/inicioAdmin/id/empleados">
    <mat-icon>assignment</mat-icon> Empleados
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/clientes"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Clientes
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/contratos"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Contratos
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/pagos"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Pagos
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/tickets"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Ticket
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/servicios"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Servicios
  </a>
  <a mat-list-item routerLink="/inicioAdmin/id/respuestas"
  routerLinkActive="list-item-active">
    <mat-icon>assignment</mat-icon> Respuesta
  </a>
</mat-nav-list>
