<app-usuario-cliente-logeado-header></app-usuario-cliente-logeado-header>
<div class="container rounded bg-white mt-5 mb-5">
    <!-- <div *ngFor="let cliente of clientes"  class="row" >
        <div *ngIf="cliente.Nombre=='Juan Pedro'" class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{cliente.Nombre}}"</span><span class="text-black-50">{{cliente.Email}}"/span></span></div>
        </div>
        <div *ngIf="cliente.Nombre=='Juan Pedro'" class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Perfil</h4>
                </div>
                <form (ngSubmit)=(modificarDatos(cliente))>
                    <div class="row mt-2 form-check">
                        <div class="col-md-6" ><label class="labels">Nombre</label><input type="text" class="form-check-input"  [(ngModel)]="cliente.Nombre" placeholder="{{cliente.Nombre}}" value=""></div>
                    </div>
                    
                    <div class="row mt-2 form-check">
                        <div class="col-md-6 form-check-input"><label class="labels">Apellido Paterno</label><input type="text"class="form-control" [(ngModel)]="cliente.ApePaterno" placeholder="{{cliente.ApePaterno}}" value=""></div>
                        <div class="col-md-6 form-check-input"><label class="labels" >Apellido Materno</label><input type="text" class="form-control" [(ngModel)]="cliente.ApeMaterno" placeholder="{{cliente.ApeMaterno}}" value=""></div>
                    </div>
                    <div class="row mt-3 form-check">
                        <div class="col-md-12 form-check-input"><label class="labels">Telefono Celular</label><input type="text" class="form-control" [(ngModel)]="cliente.NumTelefono" placeholder="{{cliente.NumTelefono}}"></div>
                        <div class="col-md-12 form-check-input"><label class="labels">Email</label><input type="text" class="form-control" [(ngModel)]="cliente.Email" placeholder="{{cliente.Email}}"></div>
                        <div class="col-md-12 form-check-input"><label class="labels">Sexo</label><input type="text" class="form-control" [(ngModel)]="cliente.Sexo" placeholder="{{cliente.Sexo}}"></div>
                        <div class="col-md-12 form-check-input"><label class="labels">Direccion</label><input type="text" class="form-control" [(ngModel)]="cliente.Direccion" placeholder="{{cliente.Direccion}}"></div>
                        <div class="col-md-12 form-check-input"><label class="labels">DNI</label><input type="text" class="form-control" [(ngModel)]="cliente.DNI" placeholder="{{cliente.DNI}}"></div>
                    </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Guardar Datos</button></div>
            </form>
            </div>
        </div>
    </div> -->
</div>