<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Crear Servicio</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content position-relative mt-3 mx-5">
        <div class="nav justify-content-end ">
            <button class="btn btn-outline-secondary" routerLink="/inicioAdmin/id/servicios">
                <i class="fas fa-arrow-circle-left"> Volver</i>
            </button>
        </div>
  
        <br />
        <br />
        <div class="s">
            <form class="fs-6">
                <!-- DNI input -->
                <div class="form-outline mb-4">
                    <input type="text" id="nombreServicio" class="form-control" #nombreServicio />
                    <label class="form-label" for="nombreServicio">Nombre del Servicio</label>
                </div>

                <div class="form-outline mb-4">
                <input type="number" id="costoServicio" class="form-control"  #costoServicio />
                <label class="form-label" for="costoServicio">Costo Servicio</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="text" id="descripcion" class="form-control" #descripcion />
                    <label class="form-label" for="descripcion">Descripcion del Servicio</label>
                </div>

               

                
                <!-- Submit button -->
                <a href="/inicioAdmin/id/servicios" class="btn btn-primary btn-lg mb-4" tabindex="-1" role="button" (click)="crearServicio(costoServicio.value, descripcion.value, nombreServicio.value)"> Actualizar</a>
        
            </form>
        </div>




      </div>
    </div>
  </div>
  