<app-usuario-header></app-usuario-header>  
<div class="container Contacto">
  <div class="row">
      <div class="col-md-12">
          <div class="main-timeline">
              <div class="timeline">
                  <a  routerLink="/contacto"
                  routerLinkActive="active" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                      <h3 class="title">Contactanos</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                  </a>
              </div>
              <div class="timeline">
                  <a routerLink="/contacto"
                  routerLinkActive="active" class="timeline-content">
                      <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                      <h3 class="title">Nuestro numero</h3>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                      </p>
                  </a>
              </div>
              <div class="timeline">
                <a  routerLink="/contacto"
                routerLinkActive="active" class="timeline-content">
                    <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                    <h3 class="title">Direccion</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                    </p>
                </a>
            </div>
            <div class="timeline">
                <a  routerLink="/contacto"
                routerLinkActive="active" class="timeline-content">
                    <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                    <h3 class="title">Redes Sociales</h3>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo Integer males uada tellus lorem, et condimentum neque commodo
                    </p>
                </a>
            </div>
          </div>
      </div>
  </div>
</div>